.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-txt{
    text-align: center;
    font-size: 50px;
}

.go-to-menu{
    text-align: center;
    font-size: 50px;
}
header{
    margin: 0;
    background-color: #c33124;
}

header:hover{
    background-color: chocolate;
}

.container{
    width: 1500px;
    margin: 0 auto;
}

.image-svg{
    width: 300px;
    height: 300px;
    justify-content: center;
    margin: auto;
}

ul{
    line-height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

a{
    margin-right: 30px;
    color: black;
    text-decoration: none;
    margin-left: 30px;
    text-align: center;
}

a:hover{
    color: black;
    text-decoration: none;
}

li:hover{
    background-color: lightcoral;
}

body{
    margin: 0;
    background-color: grey;
}

body{
    background-color: #e8a628;
}
footer{
    padding: 21px;
    text-align: center;
    color: black;
    background-color: #c33124;
    font-size: 22px;
    margin: 0;
}